{% extends 'app/base.html' %}

{% block content %}
<div class="flex items-center bg-grey-100 w-screen min-h-screen" style="font-family: 'Muli', sans-serif;">
    <div class="container ml-auto mr-auto flex flex-wrap items-start">
      <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
        <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold">
          Team Members
        </h1>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="" alt="Image" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                Someone Name
              </h5>
              <span class="text-xs text-gray-400 leading-none">College Name</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                Student Id
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="" alt="Image" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-purple-600 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                Someone
              </h5>
              <span class="text-xs text-gray-400 leading-none">College name</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                Student Id
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="" alt="Image" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-gray-700 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                Student Name
              </h5>
              <span class="text-xs text-gray-400 leading-none">College name</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                Student id
               </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="" alt="Image" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-gray-600 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                Student Name
              </h5>
              <span class="text-xs text-gray-400 leading-none">College Name</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                Student Id
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
