<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- component -->
<section class="min-h-screen flex flex-col">
    
    <div class="flex flex-1 items-center justify-center bg-gray-800">
        <div class="rounded-lg sm:border-2 px-4 lg:px-24 py-16 lg:max-w-xl sm:max-w-md w-full text-center">
            <form class="text-center" method="post">
                {% csrf_token %}
                <h1 class="font-bold text-white tracking-wider text-3xl mb-8 w-full text-gray-600">
                    Sign up your account
                </h1>
                <div class="py-2 text-left">
                    <input type="text" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " name="username" placeholder="Please enter your firstname" />
                </div>
                <div class="py-2 text-left">
                    <input  type="email" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " name="email" placeholder="Please enter your email" />
                </div>
                <div class="py-2 text-left">
                    <input  type="password" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700" name="password1" placeholder="Enter your Password" />
                </div>
                <div class="py-2 text-left">
                    <input name="password2" type="password" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Enter your confirm Password" />
                </div>
                <div class="py-2">
                    <button type="submit" class="border-2 border-gray-100 focus:outline-none bg-green-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700">
                        Sign In
                    </button>
                </div>
            </form>
            
            <div class="text-center mt-12">
                <span>
                    Already have an account
                </span>
                <a href="{% url 'userlogin' %}" class="font-light text-md text-indigo-600 underline font-semibold hover:text-indigo-800">Login</a>
            </div>
        </div>
    </div>
</section>




</body>
</html>